/ZombieRushUnity/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
/ZombieRushUnity/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
*.Rider.Unity.Editor.Plugin.Repacked.dll
/ZombieRushUnity/.idea/.idea.ZombieRushUnity/.idea/contentModel.xml
/ZombieRushUnity/.idea/.idea.ZombieRushUnity/.idea/indexLayout.xml
/ZombieRushUnity/Assets/Plugins/Editor/JetBrains.meta
**.idea/
ZombieRushUnity/Assets/SMG.meta
ZombieRushUnity/Assets/SMG/
